<header>
    <div class="container">
        <div class="header-content">
            <a href="index.html" class="logo">Crusty Delights Pékség</a>
            <nav>
                <ul class="nav-menu">
                    <li><a href="index.html" class="nav-link">Főoldal</a></li>
                    <li><a href="about.html" class="nav-link">Rólunk</a></li>
                    <li><a href="products.html" class="nav-link">Termékeink</a></li>
                    <li><a href="events.html" class="nav-link">Események</a></li>
                    <li><a href="contact.html" class="nav-link">Kapcsolat</a></li>
                </ul>
            </nav>
            <div class="header-buttons">
                <a href="contact.html" class="btn btn-primary">Látogasson el hozzánk</a>
            </div>
        </div>
    </div>
</header>
